body {
  background-color: #E2C275;
}

.App {

  background-color: #ffffff;
  min-height: 80vh;
  margin: 20px auto;
  width: 400px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

input {
  flex:1;
  width: 85%;
  padding: 8px;
  margin: 10px;
  font-family: 'Comfortaa', cursive;
  border-radius: 5px;
  border: solid 2px #79DAE8;
}

.plusAndDelete {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.del {
  margin-left: 30px;
}
.crossed {
  text-decoration: line-through 3px #79DAE8;
  background-color: #E2C275;
}

ul, li {
  list-style-type:none;
  padding: 5px;
  margin:0;
  font-family: 'Comfortaa', cursive;
  font-size: 20px
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}